<% if (success_msg && success_msg.length) { %>
<div class="alert alert-success alert-dismissible fade show mx-3" role="alert">
  <strong><%= success_msg %></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</div>
<% } %>

<% if (error_msg && error_msg.length) { %>
<div class="alert alert-warning alert-dismissible fade show mx-3" role="alert">
  <strong><%= error_msg %></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</div>
<% } %>

<% if (msg && msg.length) { %>
<div class="alert alert-danger alert-dismissible fade show mx-3" role="alert">
    <strong><%= msg %></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>